html {
    height: 100%;
    width: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  #chessboard { 
    display: grid;
    grid-template-columns: repeat(8, 8vmin);
    grid-template-rows: repeat(8, 8vmin);
    margin-top: -4vmin;
    border: 0.1vmin solid black;
    
  }

  #chessboard > div {
    border: 0.1vmin solid white;
    
  }

  button:hover {
    color: grey;
    background-color: darkgray;
  }

  #chessboard > div:hover {
    color: grey;
    background-color: darkgrey;
  }